<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="C:/Users/Lemuel/IdeaProjects/1">
        <parameter name="url" value="https://www.saucedemo.com/"/>
        <classes>
            <class name="main.Tests">
                <methods>
                    <include name="SD_Filtering"/>
<!--                    <include name="SD_Shopping_Cart"/>-->
                </methods>
            </class>
            <class name="web.Web"/>
        </classes>
    </test>
</suite>